body {
  font-family: Arial, sans-serif;
  background-color: #91bddc;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1e1e1e;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 12px 0;
  font-size: 16px;
 
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#result {
  margin-top: 15px;
  font-weight: bold;
}
