body {
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}

.box{
  width: 300px;
  background: white;
  padding: 20px;
  margin: 100px auto;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}

button {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: darkgreen;
}

#result {
  margin-top: 15px;
  font-weight: bold;
}
