html,body{
    background-color: black;
    width: 100%;
    height: 100%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.gallery {
    width: 100vw;
    min-height: 100vh;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
}
.item{
    position: relative;
    width: 100%;
    height: 330px;
    overflow: hidden;
}
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}
.overlay-button{
  position: absolute; /* Position relative to .image-container */
  top: 94%; /* Example: Center vertically */
  left: 50%; /* Example: Center horizontally */
  transform: translate(-50%, -50%); /* Fine-tunes centering */
  padding: 10px 25px;
  background-color:black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}
@media (min-width: 1900px){
    .gallery {
        max-width: 1900px;
        max-height: 2000px;
        margin: auto;
    }
}
