body{
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    background-color: black;
}
.container{
    background-color: rgb(94, 155, 155);
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 600px;
    border-radius: 25px;
    padding-top: 35px;
}
.input{
    width: 110px;
    height: 30px;
}
.payment{
    font-weight: 600;
    font-size: 20px;
}